	<!DOCTYPE html>
<html>
<head>
	<title>EP Directory</title>

	<!-- inject:css -->
	<link rel="stylesheet" href="/src/introcss.css">
	<!-- endinject -->

	<link rel="stylesheet" href="/node_modules/materialize-css/dist/css/materialize.css">
	<link rel="stylesheet" href="/libs/adaptive-modal.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<!-- <link rel="stylesheet" href="/node_modules/materialize-css/dist/font/material-design-icons/Material-Design-Icons.woff2"> -->



</head>
<body>

  <div class="navbar">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">EP Directory</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Hello</a></li>
          <li><a href="badges.html">Anohter</a></li>
        </ul>
      </div>
    </nav>
  </div>

	<div id="cont">

		<br>

		<button v-on:click="ascending('name')" class="waves-effect waves-light btn">A-Z</button>
		<button v-on:click="decending('name')" class="waves-effect waves-light btn">Z-A</button>
		<button v-on:click="shuffle()" class="waves-effect waves-light btn">Shuffle</button>
		<p><input type="text" v-model="searchString" v-on:keyup="filterText(searchString) | debounce 200" placeholder="Search" /></p>
		  <ul class="collapsible popout"  data-collapsible="accordion">
		    <li>
		      <div class="collapsible-header"><i class="material-icons">language</i>Country</div>
		      <div class="collapsible-body">
		      	<div class="countryBox" action="#">
				    <span v-for="country in computedFilters.countries" v-if="country.name!==0">
				      <input type="checkbox" id="{{country.name}}" value="{{country.name}}" v-model="currentFilters.countries"/>
				      <label for="{{country.name}}">{{country.name}} ({{country.count}})</label>
				    </span>
				</div>
				<div class="center">
					<button v-on:click="selectAll('countries')" class="waves-effect waves-light btn selectBtns">Select All</button>
					<button v-on:click="deselectAll('countries')" class="waves-effect waves-light btn selectBtns">Clear All</button>
		      	</div>
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">work</i>Industry</div>
		      <div class="collapsible-body">
		      	<div class="countryBox" action="#">
				    <span  v-for="sector in computedFilters.sector" v-if="sector.name!==0">
				      <input type="checkbox" id="{{sector.name}}" value="{{sector.name}}" v-model="currentFilters.sector"/>
				      <label for="{{sector.name}}">{{sector.name}} ({{sector.count}})</label>
				    </span>
				</div>
				<div class="center">
					<button v-on:click="selectAll('sector')" class="waves-effect waves-light btn selectBtns">Select All</button>
					<button v-on:click="deselectAll('sector')" class="waves-effect waves-light btn selectBtns">Clear All</button>
		      	</div>
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">perm_identity</i>Interest (Exponential Tech and GGCs)</div>
		      <div class="collapsible-body">
		      	<div class="countryBox" action="#">
				    <span  v-for="companySize in computedFilters.companySize" v-if="companySize.name!==0">
				      <input type="checkbox" id="{{companySize.name}}" value="{{companySize.name}}" v-model="currentFilters.companySize"/>
				      <input type="checkbox" id="{{companySize.name}}" value="{{companySize.name}}" v-model="currentFilters.companySize"/>
				      <label for="{{companySize.name}}">{{companySize.name}} ({{companySize.count}})</label>
				    </span>
				</div>
				<div class="center">
					<button v-on:click="selectAll('companySize')" class="waves-effect waves-light btn selectBtns">Select All</button>
					<button v-on:click="deselectAll('companySize')" class="waves-effect waves-light btn selectBtns">Clear All</button>
		      	</div>
		      </div>
		    </li>
		  </ul>

		<div class="grid" >

		  <div v-for="participant in participants" class="grid-item card {{getPersonsFilters(participant)}}">

			  <div class="card-image waves-effect waves-block waves-light">

			    <div v-if="participant['Photo']">
				    <img class="activator" v-bind:src="participant['Photo']">
			    </div>

			    <div v-if="!participant['Photo']">
				    <img class="activator" src="/src/ProfilePlaceholderSuit.png">
			    </div>
			    <span class="card-title name"> {{participant["FirstName"] | capitalize}} {{participant["LastName"] | capitalize}} </span>
			  </div>
			  <div class="card-content">
			  	<span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
			  	<p class="jobtitle">{{participant["Badge Job Title"]}},</p>
			  	<p class="company">{{participant["Badge Company"]}}</p>
			  </div>

			  <div class="card-reveal">
		        <span class="card-title grey-text text-darken-4">Biography<i class="material-icons right">close</i></span>
			  	<p>{{participant["Biographic Sketch"]}}</p>
			  </div>

			 <!--   <a href="#" data-toggle="adaptive-modal" data-title="<p>{{participant['Biographic Sketch']}}</p>" data-am-custom-bgcolor="red">try me!</a>
			   <span >{{isoFilters}} wah</span>
			   <span >{{filty(participant)}} wah</span> -->

		  </div>

	  </div>

	</div>

</body>

	<script src="/node_modules/jquery/dist/jquery.js"></script>
	<script src="/libs/jquery.adaptive-modal.js"></script>
	<script src="/node_modules/isotope-layout/dist/isotope.pkgd.js"></script>
	<script src="/node_modules/materialize-css/dist/js/materialize.js"></script>
	<script src="/node_modules/vue/dist/vue.js"></script>
	<script src="/node_modules/imagesloaded/imagesloaded.pkgd.js"></script>

	<!-- inject:js -->
	<script src="/src/isocontrol.js"></script>
	<script src="/src/marchepparticipants.js"></script>
	<script src="/src/vuestuff.js"></script>
	<!-- endinject -->

</html>