
*:focus {outline:none;}

/* position dots up a bit */
.flickity-page-dots {
  bottom: -22px;
}
/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}
img {
	height: 200px;
	margin: 100px 100px 50px 100px;
    /*padding: 10px;*/
}
h1,h4 {
	font-weight: 200;
	font-family: Helvetica, sans-serif;
	text-align: center;
}
.cell {
    min-width: 400px;
    max-width: 100vw;
	max-height:75vh;
    height:75vh;
    display: flex !important;
    flex-flow: column;
    justify-content: space-around ;
}
/** {	outline: 1px solid black;}