/** { outline: 1px black solid; }*/

.viewBtn {
    transition: color .3s;
}
.viewBtn:hover {
    cursor: pointer;
    color:gray;
}
.list {
    width: 100vw;
    height: 40px;
    outline: 1px solid black;
}
.card {
    width: 310px;
}
.thumbWidth {
    width:110px;
    margin: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.thumb {
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.thumb img {
    display: inline;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.thumb-title {
    font-weight: 300;
    margin: 5px;
}
.count {
    /*border: 1px solid black;
    border-radius: 100%*/
    font-size: 11px;
}
.clearText {
    position: absolute;
    right: 15px;
    top: 10px;
    color: black;
    transition: 280ms all;
    -webkit-transition: -moz-transform 280ms all;
    -moz-transition: -webkit-transform 280ms all;
    transform: scale(1,1);
    cursor: pointer;
}
.clearText:hover{
    transform: scale(1.2,1.2);
    cursor: hand;
}
.pic-wrap {
	overflow: hidden;
	max-height: 250px;
}

.grid{
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
 }

 .name {
 	text-shadow: 2px 2px 10px black;
 }

 .jobtitle {
 	font-weight: bold;
 }

 .filterBox {
 	margin: 25px;
 	display: flex;
 	flex-flow: row wrap;
    justify-content: center;
 }
.tech span {
    width: 300px;
 }
 .ggc span {
 	width: 300px;
 }
 .companySize span {
    width: 145px;
 }
 .sector span {
    width: 530px;
 }
 .country span {
    width: 200px;
 }

.selectBtns {
	margin: 20px;
}

.custom-class-name {
    height: 20%;
    color:black;
}
.scrollup {
    position: fixed;
    bottom: -10px;
    right: 20px;
    display: none;
    color: black;
    z-index: 100;
}
.tab a > i {
    margin-right: 20px;
    margin-top: 10px;
}

@media (min-width:20em) { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:30.063em) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:40.063em) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:60.063em) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:64.063em) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:80.063em) { /* hi-res laptops and desktops */ }